@using KupujemProdajemWebApp.Data.Enum;
@using KupujemProdajemWebApp.ViewModels;
@model FilterAdViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="d-flex" asp-controller="Advertisement" asp-action="FilterAds">
    <div class="input-group mb-3">
        <input name="city" type="search" class="form-control" aria-label="Default" placeholder="Search">
    </div>

    <div class="form-group">
        <label asp-for="AdvertisementCategoryId">Category</label>
        <select asp-for="AdvertisementCategoryId" class="form-control" name="categoryId">
            <option value="">Select a category</option>
            @foreach (var category in ViewBag.AdvertisementCategories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="AdvertisementGroupId">Category</label>
        <select asp-for="AdvertisementGroupId" class="form-control" name="groupId">
            <option value="">Select a group</option>
            @foreach (var group in ViewBag.AdvertisementGroups)
            {
                <option value="@group.Id">@group.Name</option>
            }
        </select>
    </div>

    <button class="btn btn-dark" type="submit">Search</button>
</form>